body {
	font-family: 'Noto Sans TC' , sans-serif;
} 
h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Noto Sans TC' , sans-serif;
} 
.subheading { 
	front-family: 'Noto Sans TC',sans-serif;
} 
.subheading {
	font-family: 'Noto Sans TC' , sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .subheading{
	text-transform: none;
	color: black;
}
h1, .h1 {
	font-size: 5rem;
}

p.lead {
	font-size: 1.2rem;
}

.bg-primary {
	background-color: #0f4c81!important;
}

.text-primary {
	color: #0f4c81!important;
}

a {
	color: #0f4c81;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid;
	font-size: 1.1rem;
}